 <nav class="navbar navbar-dark bg-dark" aria-label="First navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://www.google.com.ec/?hl=es">DonPercha</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01"
        aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample01">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5500/dashboard.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="src/vidrio.html">Vidrios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="src/proVidrio.html">Pro Vidrios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="src/precioVdrio.html">Precio Vidrios</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown"
              aria-expanded="false">Otros Servicios</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown01">
              <li><a class="dropdown-item" href="Puertas/puertas.html">Puertas</a></li>
              <li><a class="dropdown-item" href="Pared/pared.html">Pared Ladrillos</a></li>
              <li><a class="dropdown-item"
                  href="https://app.sketchup.com/app?_gl=1*lkmn35*_gcl_au*MjA2OTQ4MzU1OS4xNzM2NTUyOTA5">Modelador3d</a>
              </li>
            </ul>
          </li>
        </ul>
        <form>
          <input class="form-control" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </div>
  </nav>